/* body {
    background-color: black;
  }
  
  table {
    width: 300px;
    margin: 0 auto;
  }
  
  td {
    padding: 10px;
  }
  
  input[type="text"] {
    width: 500%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    text-align: right;
    background-color: white;
    color: black;
    border: none;
  }
  
  input[type="button"] {
    width: 60px;
    height: 60px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
  }
  
  input[type="button"]:hover {
    background-color: #555;
  }
  
  input[value="="] {
    background-color: #f26522;
  }
  
  input[value="="]:hover {
    background-color: #e65100;
  }
   */

   body {
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
  .calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    background-color: white;
    color: black;
    border: none;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  td {
    padding: 5px;
  }
  
  input[type="button"] {
    width: 70px;
    height: 70px;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: none;
  }
  
  input[type="button"]:hover {
    background-color: #555;
  }
  
  input[value="="] {
    background-color: #f26522;
  }
  
  input[value="="]:hover {
    background-color: #e65100;
  }
  
  @media only screen and (max-width: 480px) {
    .calculator {
      padding: 10px;
    }
  
    input[type="button"] {
      width: 50px;
      height: 50px;
      font-size: 16px;
    }
  }
  